.title {
  color: #2097c9;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  margin-bottom: 32px;
}

.subtitle {
  color: #2097c9;
  text-align: center;
  font-size: 32px;
  line-height: 43px;
  margin-bottom: 60px;
}
.baselineText{
  color: #111111;
  margin-bottom: 90px;
  align-self: baseline;
}
.centeredText{
  color: #111111;
  margin-bottom: 35px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}
.redirectLink{
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #2097c9;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.error{
  position: absolute;
  color: #de321b;
}
.formLine{
  position: relative;
  width: 100%;
  & > input:focus~.formLabel,
  & > input:not(:placeholder-shown)~.formLabel{
      transform: translateY(-25px) translateX(0px);
  }

  margin-bottom: 30px;
}
.formLabel{
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 11px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 40px;
  transition: .3s;
  color: #111111;
}
.form{
  width: 100%;
}